$base-font-size: 1rem;
$border-size: 1px;
$zero: 0;
$border-color: #000;
$color-dark: #333;
$color-light: #EEE;

.Weather {
  padding-right: 2rem;

  input {
    padding: $base-font-size;
    margin: $zero;
    font-size: $base-font-size;
    border: $border-size solid;
    border-radius: ($base-font-size * 0.5) $zero $zero ($base-font-size * 0.5);
  }
  
  form button {
    padding: $base-font-size;
    margin: $zero;
    font-size: $base-font-size;
    border: $border-size solid;
    border-color: $border-color;
    border-radius: $zero ($base-font-size * 0.5) ($base-font-size * 0.5) $zero;
    background-color: $color-dark;
    color: $color-light;
  }
  
  form select {
    margin: $base-font-size $zero;
  }
}
