.Weather {
  padding-right: 2rem;
}

.Weather > form input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid;
  margin: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.Weather > form button {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid;
  border-color: #000;
  margin: 0;
  background-color: #333;
  color: #eee;
  border-radius: 0 0.5rem 0.5rem 0;
}

.Weather > form > select {
  margin: 1rem 0;
}
